.graphichead {
    font-family: 'BentonSans', Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    display: block;
}

.subtitle {
    font-family: 'BentonSans', Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    line-height: 1.4em;
    margin-top: 10px;
    margin-bottom: 15px;
}

.holder {
    font-family: 'BentonSans', Helvetica, Arial, sans-serif;
	width:100%;
	display:block;
	float:left;
	margin-top:20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
}

.titleAuthor {
	width:100%;
	display:block;
	float:left;
	text-align:center;
}

.title {
	font-weight:bold;
	text-transform:capitalize;
}

.author {
	font-style:italic;
	margin-bottom:10px;
	display:inline-block;
	font-size:0.9em;
}

.itemCount {
	width:100%;
	display:block;
	float:left;
	font-size:2em;
	font-weight:bold;
	text-align:center;
}

.imgHolder {
    display: block;
    width: 100%;
    float: left;
}

.book {
    width: 9%;
    height: auto;
    float: left;
    display: block;
    margin: 1.5px;
}

@media screen and (min-width: 450px) {	

.book {
    width: 8%;
}

.titleAuthor {
	text-align:left;
	width:70%;
}

.itemCount {
	width:30%;
}

}

@media screen and (min-width: 600px) {	

.book {
    width: 6%;
}
}