.holder {
	padding: 1rem;
	max-width: 800px;
	margin: auto;
}

.monthName {
	color: #ff0000;
	font-size: 1.75rem;
}

.tally_holder {
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tally {
	width: 50%;
	font-weight: bold;
}

@media screen and (min-width: 450px) {
	.tally {
		width: 25%;
	}
}